html {
    text-align: center;
    background-color: rgb(255, 251, 245);
}

h1 {
    padding: 10%10%;
    color: rgb(119, 92, 236);
    font-size: 60px;
    text-shadow: color black;
}

table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    text-align: center;
}

th {
    color: rgb(197, 28, 42);
}

td {
    color: rgb(34, 70, 168);
}